<div id="scroll-target"></div>
<section id="block1" ng-hide="home.creationSuccess || home.updateSuccess">
  <div id="eventCreationForm">
    <form class="form-horizontal">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="col-md-8 col-md-push-4 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-md-push-6 col-sm-12">

                  <!--
                  ** カレンダーエリア
                  -->
                  <div class="form-group" class="col-sm-12 col-xs-12">
                    <div class="visible-sm visible-xs">
                      <label for="datePicker" class="control-label cotrol-label-item-title">日にち候補</label>
                    </div>
                    <div class="hidden-sm hidden-xs cotrol-label-item-description">
                    日付をクリックして日程を追加してください
                    </div>
                    <div class="visible-sm visible-xs cotrol-label-item-description">
                    候補の区切りは改行で判断されます。<br>
                    例：<br>
                    10月17日（土） 19:00〜<br>
                    10月24日（土） 19:00〜<br>
                    10月31日（土） 19:00〜
                    </div>
                    <div style="display:inline-block; min-height:290px;">
                      <datepicker id="datePicker" ng-model="home.datepicker" min-date="home.minDate" max-date="home.maxDate" show-weeks="false" class="well well-sm" custom-class="home.getDayClass(date, mode)" format-day-title="yyyy年 MM月" ng-click="home.addDate(home.datepicker)"></datepicker>
                    </div>
                    <textarea id="datearea" ng-model="home.eventData.date" class="form-control visible-sm visible-xs" rows="5" placeholder="候補の区切りは改行で判断されます。また、カレンダーをクリックすると日時が入ります。"></textarea>
                  </div>

                </div>
                <div class="col-md-6 col-md-pull-6 col-sm-12 hidden-sm hidden-xs">

                  <!--
                  ** 日にちエリア
                  -->
                  <div>
                    <label for="datearea" class="control-label cotrol-label-item-title">日にち候補</label><br>
                  </div>
                  <div class="cotrol-label-item-description">
                  候補の日程・日時を入力してください<br>
                  候補の区切りは改行で判断されます。<br>
                  例：<br>
                  10月17日（土） 19:00〜<br>
                  10月24日（土） 19:00〜<br>
                  10月31日（土） 19:00〜
                  </div>
                  <textarea id="datearea" ng-model="home.eventData.date" class="form-control" rows="5" placeholder="候補の区切りは改行で判断されます。また、カレンダーをクリックすると日時が入ります。"></textarea>

                </div>
            </div>
          </div>
          <div class="col-md-4 col-md-pull-8 col-sm-12">

            <!--
            ** イベント情報エリア
            -->
            <div class="form-group" class="col-sm-12 col-xs-12">
              <div>
                <label for="inputEventName" class="control-label cotrol-label-item-title">イベント名</label>
                <div class="cotrol-label-item-description">
                ※○○ハンズオン開催！！...など
                </div>
              </div>
              <div>
                <input type="text" ng-model="home.eventData.title" class="form-control" id="inputEventName" placeholder="イベント名" required>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="inputDescription" class="control-label cotrol-label-item-title">イベント概要<br></label>
              </div>
              <div class="cotrol-label-item-description">
              ※PC持参、ネット回線がないので、テザリングできる事！！...など
              </div>
              <div>
                <textarea ng-model="home.eventData.description" class="form-control"  id="inputDescription" rows="5"></textarea>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </form>
    <div class="center-block">
      <button type="submit" scroll-to="scroll-target" callback-before="home.submitEvent()" offset="0" class="btn btn-lg btn-primary btn-green col-sm-2 col-sm-offset-5 col-xs-12">{{home.saveWord}}</button>
    </div>
  </div>
</section>

<section id="block2" ng-show="home.creationSuccess">
<br><br>
イベントを作成しました。下記URLへアクセスしてください。
  <a href="{{home.attendanceUrl}}">{{home.attendanceUrl}}</a>
</section>

<section id="block2" ng-show="home.updateSuccess">
<br><br>
イベント情報を更新しました。
</section>

