<!--
** 出欠入力
-->
<section id="block1" ng-hide="attendance.errorMode">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div style="width: 100%; overflow: auto; -webkit-overflow-scrolling: touch;">
        <div>
          <label class="control-label cotrol-label-event-title">{{attendance.eventData.title}}出席確認</label>
          <a ng-href="{{attendance.homeURL}}" style="float: right;">修正</a>
        </div>
        <div class="form-group">
          <div>
            <label for="inputDescription" class="control-label cotrol-label-item-title">イベント概要<br></label>
          </div>
          <div>
            <textarea ng-model="attendance.eventData.description" class="form-control" id="inputDescription" rows="5" readonly></textarea>
          </div>
        </div>

        <!--
          出欠一覧
        -->
        <table id="memberList" class="table table-bordered" style="margin-top: 20px; margin-bottom: 30px;">
          <tbody>
          現在の参加人数：{{attendance.memberCount}}人
          <tr><td style="width: 110px; max-width: 110px; min-width: 110px; text-align: left; text-valign: middle;">参加者</td><td ng-repeat="arr in attendance.eventDateArray" style="width: 120px; max-width: 120px; min-width: 120px;">{{arr}}</td><td style="min-width: 300px; max-width: 400px;">コメント</td></tr>
          <tr ng-repeat="member in attendance.memberList"><td><a href="#" scroll-to="dummy-MemberForm" callback-before="attendance.editMember(member)" duration="800" offset="{{attendance.editOffset}}">{{member.name}}</a></td>
            <td ng-repeat="choice in member.choice track by $index" style="text-align:center">{{choice}}</td><td>{{member.comment}}</td></tr>
          </tbody>
        </table>

        <div align="center" ng-show="attendance.initButton">
          <button type="button" class="green-ball" scroll-to="dummy-MemberForm" callback-before="attendance.initMember()" duration="800" offset="330">出欠を<br>入力する</button>
        </div>

        <div id="dummy-MemberForm"></div>
        <div id="memberForm" ng-show="attendance.editMode">
          <form class="form-horizontal">
              <div class="col-md-12 col-sm-12">
                <!--
                ** 出欠入力エリア
                -->
                <div class="form-group" class="col-sm-12 col-xs-12">
                  <div>
                    <label for="inputMenberName" class="control-label cotrol-label-item-title">名前</label><br>
                  </div>
                  <div>
                    <input type="text" ng-model="attendance.memberData.name" class="form-control" id="inputMenberName" placeholder="名前" required>
                  </div>
                </div>
                <!--
                ** 出欠入力エリア（○△×）
                -->
                <div class="form-group">
                  <div>
                    <label class="control-label cotrol-label-item-title">日にち<br></label>
                  </div>
                  <table>
                  <tr ng-repeat="arr in attendance.memberData.choiceSet">
                    <td style="height: 38px; max-width: 200px;"><div style="margin-right: 10px;"><font size="-1">{{arr.date}}</font></div></td>
                    <td>
                    <b>
                      <label class="btn btn-choices" ng-model="arr.choice" btn-radio="'○'">○</label>
                      <label class="btn btn-choices" ng-model="arr.choice" btn-radio="'△'">△</label>
                      <label class="btn btn-choices" ng-model="arr.choice" btn-radio="'×'">×</label>
                    </b>
                    </td>
                  </tr>
                  </table>
                </div>
                <!--
                ** コメント
                -->
                <div class="form-group" class="col-sm-12 col-xs-12">
                  <div>
                    <label for="inputComment" class="control-label cotrol-label-item-title">コメント</label><br>
                  </div>
                  <div>
<!--                     <input type="text" ng-model="attendance.memberData.comment" class="form-control" id="inputComment" placeholder="コメント" required> -->
                    <textarea ng-model="attendance.memberData.comment" class="form-control" id="inputComment" placeholder="コメント" rows="5" required></textarea>
                  </div>
                </div>

            </div>
          </form>
    <div class="col-md-12">
      <div align="center" ng-show="attendance.editMode">
        <button type="submit" class="green-ball"  scroll-to="memberList" callback-before="attendance.submitMember()" callback-after="attendance.refreshMemberList()">更新する</button>
      </div>
    </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</section>
<section id="block2" ng-show="attendance.errorMode">
  <font size="+2" color=red>Error: 指定されたイベントは存在しません</font>
</section>

