<section id="block1">
  <div id="eventCreationForm">
    <form class="form-horizontal">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="border:solid 3px #009900;">
          <div class="col-md-8 col-md-push-4 col-sm-12" style="border:solid 3px #009900;">
            <div class="row">
                <div class="col-md-6 col-md-push-6 col-sm-12" style="border:solid 3px #009900;">

                  <!--
                  ** カレンダーエリア
                  -->
                  <div class="form-group" class="col-sm-12 col-xs-12">
                    <div>
                      <label for="inputEvent" class="control-label custom-label1">日にち候補</label>
                    </div>
                    <div style="display:inline-block; min-height:290px;">
                      <datepicker id="datePicker" ng-model="home.dt" min-date="home.minDate" max-date="home.maxDate" show-weeks="false" class="well well-sm" custom-class="home.getDayClass(date, mode)" format-day-title="yyyy年 MM月" ng-click="home.addDate(home.dt)"></datepicker>
                    </div>
                    <textarea ng-model="home.schedule" class="form-control visible-sm visible-xs" rows="5"></textarea>
                  </div>

                </div>
                <div class="col-md-6 col-md-pull-6 col-sm-12 hidden-sm hidden-xs" style="border:solid 3px #009900;">

                  <!--
                  ** 日にちエリア
                  -->
                  <textarea ng-model="home.schedule" class="form-control" rows="5"></textarea>

                </div>
            </div>
          </div>
          <div class="col-md-4 col-md-pull-8 col-sm-12" style="border:solid 3px #009900;">

            <!--
            ** イベント情報エリア
            -->
            <div class="form-group" class="col-sm-12 col-xs-12">
              <div>
                <label for="inputEvent" class="control-label custom-label1">イベント名</label><br>
                ※◯◯さんの歓迎会など<br>
              </div>
              <div>
                <input type="text" class="form-control" id="inputEvent" placeholder="イベント名" required>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="inputDescription" class="control-label custom-label1">イベント概要<br></label>
              </div>
              <div>
                <textarea ng-model="home.description" class="form-control"  id="inputDescription" rows="5"></textarea>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </form>
    <div class="center-block">
      <button type="submit" class="btn btn-primary btn-lg col-sm-2 col-sm-offset-5 col-xs-12" ng-click="home.createEvent()">決定</button>
    </div>
  </div>
</section>
