<!--
** 出欠入力
-->
<section id="block1" ng-show="attendance.scheduleMode">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div style="overflow: auto;">
        <div>
          <label class="control-label custom-label1">{{attendance.eventData.title}}</label>
        </div>
        <div class="form-group">
          <div>
            <label for="inputDescription" class="control-label custom-label1">イベント概要<br></label>
          </div>
          <div>
            <textarea ng-model="attendance.eventData.description" class="form-control" id="inputDescription" rows="5" readonly></textarea>
          </div>
        </div>

        <!--
          出欠一覧
        -->
        <table class="table table-bordered" style="margin-top: 20px; margin-bottom: 30px;">
          <tbody>
          <tr><td style="width: 80px; max-width: 80px; min-width: 80px; text-align: left; text-valign: middle;">参加者</td><td ng-repeat="arr in attendance.eventDateArray" style="width: 120px; max-width: 120px; min-width: 120px;">{{arr}}</td></tr>
          <tr><td>参加者</td><td>1</td><td>2</td><td>3</td></tr>
          </tbody>
        </table>
    <!--   <ul ng-repeat="arr in attendance.scheduleArr">
        <li>
          {{arr}}
        </li>
      </ul> -->
        <div id="scheduleForm">
          <form class="form-horizontal">
              <div class="col-md-12 col-sm-12">
                <!--
                ** 出欠入力エリア
                -->
                <div class="form-group" class="col-sm-12 col-xs-12">
                  <div>
                    <label for="inputMenberName" class="control-label custom-label1">名前</label><br>
                  </div>
                  <div>
                    <input type="text" ng-model="attendance.memberData.name" class="form-control" id="inputMenberName" placeholder="名前" required>
                  </div>
                </div>
                <!--
                ** 出欠入力エリア（○△×）
                -->
                <div class="form-group">
                  <div>
                    <label class="control-label custom-label1">日にち<br></label>
                  </div>
                  <div ng-repeat="arr in attendance.memberData.choiceArray" style="padding-right: 0px; margin-bottom: 3px;">
                    <font size="-1">{{arr.date}}</font>
                    <font face="miryo"><b>
                      <label class="btn btn-choices" ng-model="arr.choice" btn-radio="'○'">○</label>
                      <label class="btn btn-choices" ng-model="arr.choice" btn-radio="'△'">△</label>
                      <label class="btn btn-choices" ng-model="arr.choice" btn-radio="'×'">×</label>
                    </b></font>
                  </div>
                </div>
                <!--
                ** コメント
                -->
                <div class="form-group" class="col-sm-12 col-xs-12">
                  <div>
                    <label for="inputComment" class="control-label custom-label1">コメント</label><br>
                  </div>
                  <div>
                    <input type="text" ng-model="attendance.memberData.comment" class="form-control" id="inputComment" placeholder="コメント" required>
                  </div>
                </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-12">
      <div class="center-block">
        <button type="submit" class="btn btn-primary btn-lg col-sm-2 col-sm-offset-5 col-xs-12" ng-click="attendance.submitMember()">更新する</button>
      </div>
    </div>
  </div>
</section>
